<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Politique des cookies</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            color: #333;
        }

        header {
            background: black;
            color: #fff;
            padding: 1em 0;
            text-align: center;
        }

        nav {
            background: #333;
            color: #fff;
            padding: 1em;
            text-align: center;
        }

        nav a {
            color: white;
            margin: 0 15px;
            text-decoration: none;
        }

        main {
            margin: 20px;
            padding: 20px;
            background: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-bottom: 100px;
        }

        h1 {
            color: white;
        }

        h2 {
            color: black;
        }

        section {
            margin-bottom: 1em;
        }

        footer {
            background-color: black;
            color: white;
            text-align: center;
            padding: 1rem 0;
            width: 100%;
            bottom: 0;
        }
    </style>
</head>

<body>
    <header>
        <h1>Politique des Cookies</h1>
    </header>
    <nav>
        <a href="/FlexiBank/banque_en_ligne/index.html">Accueil</a>
        <a href="aide.html">Centre D'aide</a>
        <a href="contact.html">Contact</a>
    </nav>
    <main>
        <section>
            <h2>Qu'est-ce qu'un cookie ?</h2>
            <p>Un cookie est un petit fichier texte qui est stocké sur votre appareil lorsque vous visitez un site web.
                Il permet au site de se souvenir de vos actions et préférences (comme le login, la langue, la taille de
                la police et d'autres préférences d'affichage) sur une période donnée, pour que vous n'ayez pas à les
                re-saisir à chaque fois que vous revenez sur le site ou naviguez d'une page à l'autre.</p>
        </section>
        <section>
            <h2>Comment utilisons-nous les cookies ?</h2>
            <p>Notre site utilise des cookies afin de :</p>
            <ul>
                <li>Améliorer la convivialité du site web.</li>
                <li>Analyser l'utilisation du site web.</li>
                <li>Garder en mémoire vos préférences et réglages.</li>
            </ul>
        </section>
        <section>
            <h2>Types de cookies que nous utilisons</h2>
            <p>Nous utilisons différents types de cookies, notamment :</p>
            <ul>
                <li>Cookies essentiels : nécessaires au fonctionnement du site.</li>
                <li>Cookies de performance : collectent des informations sur la manière dont vous utilisez notre site.
                </li>
                <li>Cookies de fonctionnalité : permettent de se souvenir de vos choix afin d'améliorer votre expérience
                    utilisateur.</li>
                <li>Cookies de ciblage : utilisés pour vous proposer des publicités plus pertinentes.</li>
            </ul>
        </section>
        <section>
            <h2>Comment contrôler les cookies</h2>
            <p>Vous pouvez contrôler et/ou supprimer les cookies comme vous le souhaitez – pour plus de détails,
                consultez aboutcookies.org. Vous pouvez supprimer tous les cookies déjà présents sur votre appareil et
                vous pouvez paramétrer la plupart des navigateurs pour empêcher qu'ils soient placés. Si vous faites
                cela, cependant, il se peut que vous ayez à ajuster manuellement certaines préférences chaque fois que
                vous visitez un site et que certains services et fonctionnalités ne fonctionnent pas.</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 FlexiBank. Tous droits réservés.</p>
    </footer>
</body>

</html>