<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Politique de Confidentialité</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            color: #333;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        header {
            background: black;
            color: #fff;
            padding: 1em 0;
            text-align: center;
        }

        nav {
            background: #333;
            color: #fff;
            padding: 1em;
            text-align: center;
        }

        nav a {
            color: white;
            margin: 0 15px;
            text-decoration: none;
        }

        h1 {
            text-align: center;
            margin-bottom: 30px;
        }

        .section {
            margin-bottom: 20px;
        }

        .section h2 {
            margin-bottom: 10px;
        }

        footer {
            background-color: black;
            color: white;
            text-align: center;
            padding: 1rem 0;
            width: 100%;
            bottom: 0;
        }
    </style>
</head>

<body>
    <header>
        <h1>Politique de confidentialité</h1>
    </header>
    <nav>
        <a href="/FlexiBank/site01/FlexiBank/index.html">Accueil</a>
        <a href="cookie.html">Cookie Policy</a>
        <a href="contact.html">Contact</a>
    </nav>
    <div class="section">
        <h2>Collecte des Informations</h2>
        <p>Nous collectons des informations lorsque vous vous inscrivez sur notre site, lorsque vous vous connectez à
            votre compte, faites un achat, participez à un concours et/ou lorsque vous vous déconnectez. Les
            informations collectées incluent votre nom, votre adresse e-mail, votre numéro de téléphone et/ou votre
            carte de crédit.</p>
    </div>
    <div class="section">
        <h2>Utilisation des Informations</h2>
        <p>Toute les informations que nous recueillons auprès de vous peuvent être utilisées pour :</p>
        <ul>
            <li>Personnaliser votre expérience et répondre à vos besoins individuels</li>
            <li>Fournir un contenu publicitaire personnalisé</li>
            <li>Améliorer notre site Web</li>
            <li>Améliorer le service client et vos besoins de prise en charge</li>
            <li>Vous contacter par e-mail</li>
            <li>Administrer un concours, une promotion, ou une enquête</li>
        </ul>
    </div>
    <div class="section">
        <h2>Confidentialité des Informations</h2>
        <p>Nous sommes les seuls propriétaires des informations recueillies sur ce site. Vos informations personnelles
            ne seront pas vendues, échangées, transférées, ou données à une autre société pour n'importe quelle raison,
            sans votre consentement, en dehors de ce qui est nécessaire pour répondre à une demande et/ou une
            transaction, comme par exemple pour expédier une commande.</p>
    </div>
    <div class="section">
        <h2>Divulgation à des Tiers</h2>
        <p>Nous ne vendons, n'échangeons et ne transférons pas vos informations personnelles identifiables à des tiers.
            Cela ne comprend pas les tierce parties de confiance qui nous aident à exploiter notre site Web ou à mener
            nos affaires, tant que ces parties conviennent de garder ces informations confidentielles.</p>
    </div>
    <div class="section">
        <h2>Protection des Informations</h2>
        <p>Nous mettons en œuvre une variété de mesures de sécurité pour préserver la sécurité de vos informations
            personnelles. Nous utilisons un cryptage à la pointe de la technologie pour protéger les informations
            sensibles transmises en ligne. Nous protégeons également vos informations hors ligne. Seuls les employés qui
            ont besoin d'effectuer un travail spécifique (par exemple, la facturation ou le service client) ont accès
            aux informations personnelles identifiables. Les ordinateurs et serveurs utilisés pour stocker des
            informations personnelles identifiables sont conservés dans un environnement sécurisé.</p>
    </div>
    <div class="section">
        <h2>Consentement</h2>
        <p>En utilisant notre site, vous consentez à notre politique de confidentialité.</p>
    </div>
    <footer>
        <p>&copy; 2024 FlexiBank. Tous droits réservés.</p>
    </footer>
</body>

</html>