{% extends 'base.html.twig' %}

{% block title %}Ma carte{% endblock %}

{% block body %}
<style>
    h1{
        margin-right:20px;    }
</style>
    <div class="container mt-4">
        <h1>Ma carte bancaire</h1>
<img src="{{ asset('images/carte.png') }}" style="width:800px; margin-top: -300px;">
        {% if cardOrder %}
            
        {% else %}
            <p>Vous n'avez pas encore demandé de carte.</p>
        {% endif %}
    </div>
{% endblock %}
